*{ margin: 0 auto 0 auto; text-align: left; }
body{ height: 100%; overflow-x: hidden; margin: 0; padding: 0; text-align: left; font-size: 13px; font-family: arial, helvetiva, sans-serif;
	color: #000000; background: linear-gradient(to bottom, #163972 0%,#000000 15%,#1c478e 85%,#1c478e 100%); }
h2{ padding-bottom: 15px; animation: fadein 2s; }
h3{ font-size: 15px; font-weight: bold; padding: 10px 0 10px 0; color: #0033CC; animation: fadein 2s; }
h4{ font-size: 13px; font-weight: bold; padding-bottom: 7px; color: #0033CC; }
#container{ width: 1000px; }
#header{ width: 790px; height: 100px; font-family: 'Rozha One', serif; }
#header h1{ float: left; color: #ffffff; font-size: 50px; padding: 20px 0 0 20px; }
#header h2{ float: right; color: #67ADF5; padding: 40px 20px 0 0; }
#header h1 span.blue-text{ color: #67ADF5 }
#header h2 span.white-text{ color: #ffffff }
#menu{ width: 75%; display: block; ; position: relative; clear: both; height: 54px; }
#menu::before { content: ''; float: left; position: absolute; display: inline-block; width: 100vw; height: 54px; margin-left: calc(-50vw + 480px); 
 z-index: -1; }
#menu:hover, #menu:hover::before { }
#menu ul{ list-style: none; padding: 0; margin-left: auto; width: 960px; }
#menu li{ list-style: none; padding: 0; display: inline; }
#menu a, #menu a:visited{ float: left; text-decoration: none; text-align: center; font-size: 17px; 
font-weight: bold; }

button:hover { cursor: pointer;}
button:active { border-color: #ffffff;}

table { margin: 0px; border-spacing: 4px; animation: fadein 2s;}
th { text-align: left; padding-bottom: 15px; text-decoration: underline;}
td { font-size: 12px; font-weight: bold;}
th,
td { padding-right: 40px; animation: fadein 2s;}
p { -webkit-animation: fadein 2s; animation: fadein 2s; padding: 10px 0px;}
footer { clear: both;}

.leftbar {
	position: relative; top: 0px; bottom: 0px;
}

.leftimg {
	position: absolute; width: 10%; height: 100%; left: 0px; top: 0px;
}
.rightimg {
	position: absolute; width: 10%; height: 100%; right: 0px; top: 0px;
}

.HomeBuilding { float: right; margin: 15px; padding-right: 25px; width: 320px; height: 220px;
}

.FacilityImg { float: right; margin: 15px; padding-right: 25px; width: 220px; height: 220px;
}

.map { float: right; padding: 20px;
}

.content { display: inline-block; vertical-align: top; width: 715px; height: 300px; margin-top: 15px; background: #E0E0E0; border-radius: 10px; border: 3px solid #bdbdbd; 
	margin-left: 125px; padding: 15px; animation: fadein 2s;}



.italic {
	font-style: italic; font-weight: bold; padding: 10px 10px 10px 10px;
}

.FooterImg { position: relative; display: inline-block; bottom: 0px; margin-left: 125px; border-radius: 10px; margin-top: 10px;}

.black-text { color: #000000;}


.metal {
  position: relative;
  margin: 0px auto;
  outline: none;
  
  font: bold 2em/.666em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  text-align: center;
  color: hsla(0,0%,20%,1);
  text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;
  
  background-color: hsl(0,0%,90%);

    
    hsla(0,0%, 0%,.15) 0 -5px 6px 4px, 
    hsla(0,0%,100%,.5) 0  5px 6px 4px; 
  
  transition: color .2s;
}

.metal.linear {
  width: 150px;
  font-size: 1.333em;
  height: 40px;
  border-radius: 0em;
  background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
    
    linear-gradient(180deg, hsl(0,0%,78%)  0%, 
    hsl(0,0%,90%) 47%, 
    hsl(0,0%,78%) 53%,
    hsl(0,0%,70%)100%);
}
